<body style="background-color: black">
<div class="container">
  <div class="row exercises">
    <div class="col-xs-6">
      <% @exercises.each do |exercise| %>
        <ul>
          <li><%= link_to("#{exercise.name}", user_exercise_path(current_user, exercise) )%></li>
        </ul> 
      <% end %>
      <%= render 'exercises/form' %>
    </div>
    <div class="col-xs-6">
     <p>Current weight:<%= @user.current_weight %></p>
      <div id="chart-container">
        <%= @weights_chart.render() %>
      </div>
      <%= render "weights/new_weight"%>
    </div>
  </div>
</div>
</body>
