<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @exercise.name %>
  <% @attempts.each do |attempt| %>
    <%= attempt.score %>
    <% end %>
</div>

<div id="chart-container"></div>
  <%= @exercise_chart.render() %>


<%= link_to 'Back', user_exercises_path %>
