<!DOCTYPE html>
<html>
  <head>
    <title>LiftProject</title>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  

    <%= csrf_meta_tags %>
  </head>
  <body>
  	<div class="row nav">
  	  <div class="col-xs-8">
  	  	<span class="left-links">
  	  	<span class="top-link"><%= link_to root_path do %>
            <i class="fa fa-fort-awesome"></i> Lift-Project
          <% end %>
        </span>
           <span class="top-link"><%= link_to("About", about_path) %></span>
         </span>
  	  </div>
      <% if current_user.present? %>
        <span class="right-links">
          <span class="top-link"><%= link_to("#{current_user.email}", user_path(current_user)) %></span>
          <span class="top-link"> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
        </p>
      <% else %>
        <p>
          <span class="top-link"><%= link_to("Sign In", new_user_session_path) %></span>
          <span class="top-link"> <%= link_to("Create account", new_user_registration_path) %></span>
        </p>
        </ul>
      <% end %>
    </div>
  <%= yield %>
  </body>
</html>
